@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #7f37c9;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------------------------------------------Estilização do Header -------------------------------------------------- */

header {
    background-color: var(--color-neutral-50);
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
/* -------------------------- Responsividade header -------------------------- */
@media screen and (max-width: 1050px) {
    header {
        flex-direction: column;
    }
}

header nav ul {
    display: flex;
    align-items: center;
}


nav li {
    list-style: none;
    padding: 2rem;
    margin: 1rem;
}

nav li a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
    color: var(--color-neutral-40);
    
}

nav li a:hover {
    opacity: 0.6;
    color: var(--color-neutral-40)
}

#header-button {
    background-color: #ffca1d;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: medium;
    margin-right: 2rem;
}


/* --------------------------------------------------Estilização do Footer -------------------------------------------------- */
footer {
    width: 100%;
    color: var(--color-neutral-40);
    margin-top: 4rem;
}

.footer-link {
    text-decoration: none;

}

#footer-content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
/* -------------------------- Responsividade Footer -------------------------- */
@media screen and (max-width: 1050px) {
    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 450px) {
    #footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
/* -------------------------- Responsividade Footer -------------------------- */

#footer-contacts h1 {
    margin-bottom: 0.75rem;
}

#logo-footer {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.5s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.4;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: (var(--color-neutral-30));
    transition: all 0.5s;
}

.footer-list .footer-link:hover {
    color: var(--color-neutral-50);
    opacity: 0.7;
}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p {
    color: var(--color-neutral-30);
}

#input-group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input-group button {
    background-color: var(--color-neutral-50);
    border: none;
    color: var(--color-neutral-40);
    padding: 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.5s;
}

#input-group button:hover {
    opacity: 0.6;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 200;
    letter-spacing: 5px;
}