@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
    --color-neutral-50: #7f37c9;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --------------------------------------------------Estilização do Header -------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.3rem 10%;
    background: var(--color-neutral-50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header a img {
    /* ----- tamanho da logo do header ----- */
    width: 3.82rem;
    height: 3.90rem;
    cursor: pointer;
}
header a img:hover {
    /* Movimentação suave p/direita, ao passar o cursor na logo do header */
    margin-left: 10px;
    transition: 0.6s ease-in-out;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(83, 0, 86, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after {
    /* ----- Efeito ao passar o cursor no header "esquerda para a direita" ----- */
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.6s;
}
.header:hover::after {
    /* ----- Efeito ao sair o cursor do header "direita para a esquerda" ----- */
    left: 100%;
}
.logo {
    font-size: 2rem;
    color: var(--color-neutral-40);
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    font-size: 1.15rem;
    color: var(--color-neutral-40);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.navbar a:hover {
    color: violet
}
.navbar a button#header-button:hover {
    background-color: violet;
    color: white;
    font-weight: 700;
    transition: all 0.5s;
}
#check {
    /* ----- checkbox "fantasma" para utilização da barra de navegação ----- */
    display: none;
}
.navbar button {
    font-size: 1.15rem;
    background: #FFCA1D;
    box-shadow: none;
    border-radius: 0.4rem;
    border: #FFCA1D;
    padding: 0.5rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
.icons {
    /* ----- icones: menu hambúrguer e X ----- */
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

/* -------------------------- Responsividade Header -------------------------- */
@media (max-width: 1050px) {
    .header {
        transition: all 0.5s;
        padding: 1.3rem 5%;
    }
    .header label.icons {
        /* Tamanho do menu "hambúrguer */
        font-size: 6vw;
        transition: all 0.5s;
    }
}
@media (max-width: 925px) {
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        /* ----- Ao clicar no menu ele irá sumir com o display none ----- */
        display: none;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        /* ----- ao clicar no X ele irá sumir com o display none ----- */
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        /* ----- navbar sem altura - desativada ----- */
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        /* ----- Efeito de desfoque ----- */
        box-shadow: 0 0.5rem 1rem rgba(60, 1, 52, 0.7);
        overflow: hidden;
        /* ----- Efeito Scroll ----- */
        transition: 0.4s ease;
    }
    #check:checked~.navbar {
        height: 17.7rem;
        /* ----- navbar possuindo a altura do menu - ativada ----- */
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}
@media (max-width: 540px) {
    .header label.icons {
        /* Tamanho do menu "hambúrguer */
        font-size: 8vw;
        transition: all 0.5s;
    }
}
@media (max-width: 280px) {
    .header label.icons {
        /* Tamanho do menu "hambúrguer */
        font-size: 12vw;
        transition: all 0.5s;
    }
}

/* -------------------------------------------------- Fim da estilização do header -------------------------------------------------- */

/* -------------------------------------------- Estilização da primeira section "container-first-page" -------------------------------------------- */

section.first-page {
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    background: linear-gradient(#4B4AEF, #7f37c9, #b8a7d5);
}

@media (max-width: 925px) {
    /* -------------------------- Responsividade container-first-page - 925px -------------------------- */
    section.first-page {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        padding: 25%;
        transition: all 0.5s;
    }
    .left-first-page .home-title {
        /* h1 */
        font-size: 6vw;
        margin-top: 15rem;
        margin-bottom: 1rem;
    }
    .left-first-page .home-text {
        /* h2 */
        font-size: 4vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .left-first-page .home-paragraph {
        /* p */
        font-size: 2vw;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .left-first-page #register-button {
        /* button */
        font-size: 2.6vw;
        font-weight: 800;
        width: 21vw;
        margin-top: 0.2rem;
        margin-bottom: 2rem;
    }
    .right-first-page #img-right-first-page {
        width: 100%;
        margin-bottom: 20%;
    }
}

@media (max-width: 540px) {
    /* -------------------------- Responsividade container-first-page - 450px -------------------------- */
    section.first-page {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        padding: 20%;
        transition: all 0.7s;
    }
    .left-first-page .home-title {
        /* h1 */
        font-size: 6vw;
        margin-top: 9rem;
        margin-bottom: 1rem;
    }
    .left-first-page .home-text {
        /* h2 */
        font-size: 5vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .left-first-page .home-paragraph {
        /* p */
        font-size: 3vw;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .left-first-page #register-button {
        /* button */
        font-size: 3vw;
        font-weight: 900;
        width: 30vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .right-first-page #img-right-first-page {
        width: 120%;
    }
}

@media (max-width: 280px) {
    /* -------------------------- Responsividade container-first-page - 275px -------------------------- */
    section.first-page {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        padding: 15%;
        transition: all 0.5s;
    }
    .left-first-page .home-title {
        /* h1 */
        font-size: 9vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .left-first-page .home-text {
        /* h2 */
        font-size: 6vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .left-first-page .home-paragraph {
        /* p */
        font-size: 3vw;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .left-first-page #register-button {
        /* button */
        font-size: 0.8rem;
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .right-first-page #img-right-first-page {
        width: 120%;
    }
}
.left-first-page h1 {
    font-size: 4vw;
    margin-bottom: 1rem;
    color: var(--color-neutral-40);
}
.left-first-page h2 {
    font-size: 3vw;
    margin-bottom: 1rem;
    color: var(--color-neutral-40);
    font-weight: 100;

}
.left-first-page p {
    font-size: 1.5vw;
    color: var(--color-neutral-40);
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 2.5px;
    margin-bottom: 3rem;
}
div button#register-button {
    font-size: 1.2vw;
    background: #FFCA1D;
    width: 11vw;
    box-shadow: none;
    border-radius: 0.4rem;
    border: #FFCA1D;
    padding: 0.5rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}
div button#register-button:hover {
    background-color: violet;
    color: white;
    font-weight: 700;
    transition: all 0.5s;
}
div.right-first-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
img#img-right-first-page {
    width: 100%;
}
section.container-footer-first-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(75, 2, 78, 0.4);
    color: var(--color-neutral-40);
    font-size: 1.6vw;
    font-weight: 200;
    width: 100%;
    height: 2rem;
}

/* ----------------------------------------- Fim da estilização da primeira section "container-first-page" ----------------------------------------- */

/* ----------------------------------------- Estilização da segunda section "container-second-page" ----------------------------------------- */
section.container-second-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.left-second-page h3 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.3vw;
}
.left-second-page h3 span.orange-text {
    color: #ff9807;
    font-weight: 600;
}
.left-second-page h3 span.blue-text {
    color: #4B4AEF;
    font-weight: 600;
}
.right-second-page ul {
    /* ----- icones da segunda section alinhados horizontalmente ----- */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    list-style: none;
}
.right-second-page img.partners-icons {
    width: 10vw;
    height: auto;
}
/* -------------------------- Responsividade container-second-page - 925px -------------------------- */
@media (max-width: 925px) {
    section.container-second-page {
        display: flex;
        flex-direction: column;
        flex: wrap;
        padding: 5%;
        transition: all 0.5s;
    }
    .left-second-page h3 {
        margin: 0 auto;
        font-weight: 400;
        font-size: 2.3vw;
    }
    .right-second-page img.partners-icons {
        width: 17vw;
    }
}

/* ----------------------------------------- Fim da estilização da segunda section "container-second-page" ----------------------------------------- */

/* ----------------------------------------- Estilização da terceira section "container-third-page" ----------------------------------------- */
section.container-top-third-page {
    /* Texto do topo da terceira section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(75, 2, 78, 0.1);
    width: 100%;
    height: auto;
    border: 1px dashed violet;
    margin: 1rem 0;
}
section.container-top-third-page h3 {
    font-size: 2.6vw;
    font-weight: 200;
    color: #7f37c9;
    letter-spacing: 0.5vw;
}
section.container-third-page {
    width: 100%;
}
div.center-third-page {
    display: flex;
    text-align: center;
    margin: 10vh 10vw;

}
.img-third-page {
    width: 8vw;
}
div.center-third-page p {
    text-align: center;
    font-size: 1.3vw;
    margin: 2vw;
    height: 30vh;
}
div.third-page {
    margin: 2vw;
    background-color: rgb(244, 243, 243) ;
    border-radius: 3rem;
    padding: 2%;
}
@media (max-width: 925px) {
    div.third-page {
        font-size: 2vw;
    }
    div.third-page p {
        font-size: 2vw;
        height: 30%;
    }
}
@media (max-width: 660px) {
    div.center-third-page {
        display: flex;
        flex-direction: column;
    }
    div.third-page {
        font-size: 2vw;
    }
    div.third-page p {
        font-size: 2vw;
        height: 30%;
    }
}
/* --------------------------------------------------Estilização do Footer -------------------------------------------------- */
footer {
    width: 100%;
    color: var(--color-neutral-40);
    margin-top: 4rem;
}
.footer-link {
    text-decoration: none;

}
#footer-content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
/* -------------------------- Responsividade Footer -------------------------- */
@media (max-width: 1050px) {
    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        transition: all 0.5s;
    }
}
@media (max-width: 540px) {
    #footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        transition: all 0.5s;
    }
}

/* -------------------------- Responsividade Footer -------------------------- */

#footer-contacts h1 {
    margin-bottom: 0.75rem;
}

#footer-contacts p {
    width: 80%;
}

#logo-footer {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.5s;
}
#footer-social-media .footer-link i {
    font-size: 1.25rem;
}
#footer-social-media .footer-link:hover {
    opacity: 0.4;
}
#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
    background-color: #4267b3;
}
#whatsapp {
    background-color: #25d366;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link {
    color: (var(--color-neutral-30));
    transition: all 0.5s;
}
.footer-list .footer-link:hover {
    color: var(--color-neutral-50);
    opacity: 0.7;
}
#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer-subscribe p {
    color: var(--color-neutral-30);
}
#input-group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}
#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input-group button {
    background-color: var(--color-neutral-50);
    border: none;
    color: var(--color-neutral-40);
    padding: 1.25rem;
    font-size: 1.25rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.5s;
}
#input-group button:hover {
    opacity: 0.6;
}
#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 200;
    letter-spacing: 5px;
}

/* INICIO CSS PÁGINA CV*/

/*Aplicar cor de fundo, cor em todas as fontes dentro do BODY e alinhamento dos textos ao centro*/

.body-cv {
    background: linear-gradient(#4B4AEF, #7f37c9, #b8a7d5);
    color: white;
    text-align: center;
}
/*Aplicar cor de fundo ao HEADER(cabeçalho)*/

.header-cv {
    background: white;
}
/* Aplicar espaçamento entre header e div id=ladoalado */

.h1-cv {
    padding: 20px;
}
/*Aplicado display flex para organização das caixas, space-around para deixar espaço dividido igualmente com margens uniformes */

.ul-cv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*Estilizado nossas fotos, cor, estilo, altura e largura*/

.nossa-foto-cv {
    border-style: inset;
    border-color: rgb(71, 28, 170);
    border-radius: 40%;
    width: 150px;
    height: 150px;
}
/*Estilizado  imagens dentro da UL tamanho altura e largura*/

.logo-nav-cv {
    height: 80px;
    width: 100px;
}
/* Estilizado fonte e cor do texto dentro da tag "a"  retirado sublinhado*/
.a-cv {
    text-decoration: none;
    font-size: 15px;
    color: white;
}
/*Estilizado  links de acesso a redes sociais, espaçamento interno e tamanho da fonte*/

.section-cv {
    background-color: #7d7dee;
    border-radius: 10px;
    max-width: 150px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}
/*Aplicado display flex para organização das caixas, space-around para deixar espaço dividido igualmente com margens uniformes */

#ladoalado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*Estilizado tamanho fonte footer*/

.p-cv {
    font-size: 10px;
}
.text-footer-cv {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.btn-cv {
    background-color: #7d7dee;
    border-radius: 10px;
    max-width: 150px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}