* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/*Aplicar cor de fundo e estilizar os demais elementos dentro do body*/

body{
  background-color: rgb(27, 26, 87); 
  color: white;
  text-align: center;
}

header {
  background: white;  
    
}

h1{
  padding: 50px;
}

 ul { /* Organização da ul*/
  display: flex;
  justify-content: space-around; /* Aplicado para separar as logos*/ 
  align-items: center;  
   
}

.nossa-foto{
  max-width: 150px;
  border-style: inset;
  border-color: hsl(235, 86%, 65%);
  border-radius: 40%;
  width: 200px;
  height: 150px; 
   
  }

.logo-nav{
  display: flex; 
  height: 80px; 

}

a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}
section{
  background-color: #5734b8;
  border-radius: 10px;
  max-width: 150px;
  margin: auto;
  padding: 10px;
  font-size: medium;  
}

 #ladoalado{
  display: flex;
  flex-direction: row;
  justify-content: space-around; /*Utilizado space-around para alinhar deixando espaço maior na borda*/
 }

 p{
  font-size: 13px;
 }

