* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

/*Aplicar cor de fundo, cor em todas as fontes dentro do BODY e alinhamento dos textos ao centro*/

body{
  background-color: rgb(27, 26, 87); 
  color: white;
  text-align: center;
}

/*Aplicar cor de fundo ao HEADER(cabeçalho)*/

header {
  background: white;  
    
}

/* Aplicar espaçamento entre header e div id=ladoalado */

h1{
  padding: 20px;
 
}

/*Aplicado display flex para organização das caixas, space-around para deixar espaço dividido igualmente com margens uniformes */

ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;    
}

/*Estilizado nossas fotos, cor, estilo, altura e largura*/

.nossa-foto{
  border-style: inset;
  border-color: rgb(45, 6, 136);
  border-radius: 40%;
  width: 150px;
  height: 150px; 
   
  }

/*Estilizado  imagens dentro da UL tamanho altura e largura*/

.logo-nav{
  height: 80px;
  width: 100px;
  
}

/* Estilizado fonte e cor do texto dentro da tag "a"  retirado sublinhado*/
a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}

/*Estilizado  links de acesso a redes sociais, espaçamento interno e tamanho da fonte*/

section{
  background-color: #5734b8;
  border-radius: 10px;
  max-width: 150px;
  padding: 10px;
  font-size: medium;  
}

/*Aplicado display flex para organização das caixas, space-around para deixar espaço dividido igualmente com margens uniformes */

 #ladoalado{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 

 }

 /*Estilizado tamanho fonte footer*/
  
p{
  font-size: 10px;
}
