@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
  --color-neutral-50: #7f37c9;
}

body {

  background: linear-gradient(#4B4AEF, #7f37c9, #7747ca);

}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{

 display: flex;
 background: linear-gradient(#4B4AEF, #7f37c9, #7747ca);
  
}


.logo {
    justify-content: center;
    margin:auto;
    text-align: center;
}


/*-------------------------------------------- Estilização da primeira section "container-first-page" -------------------------------------------- */

section.first-page {
    margin-top: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    background: linear-gradient(#4B4AEF, #7f37c9, #7747ca);
}

h1{
   font-size: 3rem;
   text-align: center;
   color: rgb(249, 249, 249);
 }
 
 h2{
   font-size: 1.5rem;
   color: rgb(249, 249, 249);
 }
 
 h5{
   text-align: center;
 }


 img, a {
  max-width: 100%;
  height: auto;
}

 
 
.content{
   display:flex;
   background: linear-gradient(#4B4AEF, #7f37c9, #7747ca);
   /*background-color: rgb(255, 208, 0);*/
   justify-content: center;
   
   
   padding:10px;
   margin: 10px;
   
}

.content:hover{     
  
  background: linear-gradient(#f3f3f5, #ebeaec, #f2f0f5);
  /*background-color: rgb(251, 251, 252);*/

}

.pedreiro{

display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;


transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);

}

.pedreiro:hover{
      
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(130, 41, 194);
border-radius: 50%;

}


.encanador{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;

transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);
  
 
}

.encanador:hover{
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(130, 41, 194);
border-radius: 50%;

}


.pintor{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;
  
transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);
}

.pintor:hover{   
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(130, 41, 194);
border-radius: 50%;
}

.eletricista{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;
    
transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);

}

.eletricista:hover{  
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(130, 41, 194);
border-radius: 50%;


}

.diarista{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;
      
transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);
  
    
}

.diarista:hover{  
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(130, 41, 194);
border-radius: 50%;


}  

/* --------------------------------------------------Estilização do Footer -------------------------------------------------- */
footer {
  width: 100%;
  color: var(--color-neutral-40);
  margin-top: 4rem;
}

.footer-link {
  text-decoration: none;

}

#footer-content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

/* -------------------------- Responsividade Footer -------------------------- */
@media (max-width: 1050px) {
  #footer-content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      transition: all 0.5s;
  }
}

@media (max-width: 540px) {
  #footer-content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
      transition: all 0.5s;
  }
}

/* Estilização Botão Voltar*/

form {

  display: flex;
  justify-content: center;

}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



/* -------------------------- Responsividade Footer -------------------------- */

#footer-contacts h1 {
  margin-bottom: 0.75rem;
}

#footer-contacts p {
  width: 80%;
}

#logo-footer {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

#footer-social-media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer-social-media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.5s;
}

#footer-social-media .footer-link i {
  font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
  opacity: 0.4;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: (var(--color-neutral-30));
  transition: all 0.5s;
}

.footer-list .footer-link:hover {
  color: var(--color-neutral-50);
  opacity: 0.7;
}

#footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer-subscribe p {
  color: var(--color-neutral-30);
}

#input-group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input-group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input-group button {
  background-color: var(--color-neutral-50);
  border: none;
  color: var(--color-neutral-40);
  padding: 1.25rem;
  font-size: 1.25rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.5s;
}

#input-group button:hover {
  opacity: 0.6;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 200;
  letter-spacing: 5px;
}

/* INICIO CSS PÁGINA CV*/

/*Aplicar cor de fundo, cor em todas as fontes dentro do BODY e alinhamento dos textos ao centro*/

.body-cv {
  background: linear-gradient(#4B4AEF, #7f37c9, #b8a7d5);
  color: white;
  text-align: center;
}

/*Aplicar cor de fundo ao HEADER(cabeçalho)*/

.header-cv {
  background: white;
}

/* Aplicar espaçamento entre header e div id=ladoalado */

.h1-cv {
  padding: 20px;
}

/*Aplicado display flex para organização das caixas, space-around para deixar espaço dividido igualmente com margens uniformes */

.ul-cv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Estilizado nossas fotos, cor, estilo, altura e largura*/

.nossa-foto-cv {
  border-style: inset;
  border-color: rgb(71, 28, 170);
  border-radius: 40%;
  width: 150px;
  height: 150px;
}

/*Estilizado  imagens dentro da UL tamanho altura e largura*/

.logo-nav-cv {
  height: 80px;
  width: 100px;
}

/* Estilizado fonte e cor do texto dentro da tag "a"  retirado sublinhado*/
.a-cv {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

/*Estilizado  links de acesso a redes sociais, espaçamento interno e tamanho da fonte*/

.section-cv {
  background-color: #7d7dee;
  border-radius: 10px;
  max-width: 150px;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
}

/*Aplicado display flex para organização das caixas, space-around para deixar espaço dividido igualmente com margens uniformes */

#ladoalado {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Estilizado tamanho fonte footer*/

.p-cv {
  font-size: 10px;
}

.text-footer-cv {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.btn-cv {
  background-color: #7d7dee;
  border-radius: 10px;
  max-width: 150px;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
}