* {
   font-family: 'Maven Pro', sans-serif;
   margin: 0;
   padding: 0;
   
 }
 
 header {
  background-color: rgb(142, 1, 243);
  padding: 5px;

 
 }
 
 main {
   background-color: rgb(238, 5, 83);
   margin-top: 20px;
   
  
 }
 
 section {
   display: flex;
   justify-content: center;
  

 }
 

 h1{
   font-size: 3rem;
   text-align: center;
   color: rgb(249, 249, 249);
 }
 
 h2{
   font-size: 1.5rem;
   text-align: center;
   color: rgb(249, 249, 249);
 }
 
 h5{
   text-align: center;
 }


 img, a {
  max-width: 100%;
  height: auto;
}

 
 
.logo {
   text-align: center;
   text-decoration-color: white;
   justify-content: center;
   margin: 10px;

 }


 
.content{
   display:flex;
   background-color: rgb(255, 208, 0);
   justify-content: center;
   
   padding:10px;
   margin: 10px;
   
}

.content:hover{       
  background-color: rgb(251, 251, 252);

}

.pedreiro{

display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;

transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);

}

.pedreiro:hover{
      
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(142, 1, 243);


}


.encanador{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;

transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);
  
 
}

.encanador:hover{
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(142, 1, 243);

}


.pintor{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;
  
transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);
}

.pintor:hover{   
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(142, 1, 243);

}

.eletricista{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;
    
transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);

}

.eletricista:hover{  
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(142, 1, 243);


}

.diarista{
display: inline-block;
text-align: center;
vertical-align: top;
margin: 10px;
margin-bottom: 12px;
padding: 10px 20px;
box-sizing: border-box;
border-color: black;
border-width: 2px;
border-style: solid;
      
transition: all 0.4s;
box-shadow: 1px 1px 50px;
background-color:rgba(238, 5, 83);
  
    
}

.diarista:hover{  
color: rgb(238, 5, 83);
border-color: rgb(7, 7, 7);
transform: scale(1.5);
background-color: rgb(142, 1, 243);


}



footer {
  bottom: 0;
  background-color: white;
  color: black;
  line-height: 50px;
}

